h1{
    color: brown;
    text-align: center;
    border-bottom: solid brown 3px;
    padding-bottom: 15px;
}
.contact > p{
    margin: 0px 5px;
}
p{
    font-size: 18pt;
}
.text-brown{
    color: brown;
}
.profile-image{
    width: 300px;
    margin: auto;
    display: block;
}
.blog-card{
    background-color: gray;
    border: solid 2px black;
    border-radius: 18px;
    transition: 0.5s;
}
.blog-card:hover{
    box-shadow: 1px 2px 20px black;    
}