{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taha Ayatollahi | CV</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <h1>Taha ayatollahi</h1>
        <div class="contact">
            <p>Phone: 09013771746</p>|
            <p>Email: thaiostream@gmail.com</p>|
            <p>Linkedin: myID</p>|
            <p>City: Tehran</p>
        </div>
    </body>
    
</html>