{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{profile.full_name}} | CV</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <script src="{% static 'bootstrap.min.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <img class="profile-image" src="{{profile.image.url}}" >
            <h1>{{profile.full_name}}</h1>
            <div class="contact">
                <div class="row text-center">
                    <div class="col-lg-4 col-12">
                        <p>Phone: <a href="tel:{{profile.phone}}">{{profile.phone}}</a></p>
                        <p>Email: <a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
                    </div>
                    <div class="col-lg-4 col-12">
                        <p>City: {{profile.city}}</p>
                    </div>
                    <div class="col-lg-4 col-12">
                        <p><a href="{{profile.linkedin}}">Linkedin</a></p>
                    </div>
                </div>
            </div>
            <br>
            <h2 class="text-brown">HIGHLIGHTS OF QUALIFICATIONS</h2>
            <ul>
                {% for qualification in qualifications %}
                <li>{{qualification.text}}</li>
                {% endfor %}
            </ul>
            <h2 class="text-brown">EDUCATION</h2>
            {% for education in educations %}
                <h3>{{education.title}}</h3>
                <p>{{education.date}}</p>
                <p>{{education.address}}</p>
                <hr>
            {% endfor %}
            <h2 class = 'text-brown'> ACADEMIC SOFTWARE PROJECTS</h2>

            {% for category in AcademicProjectCategories %}
            <h4 class = 'text-black'> {{category.name}} </h4>
            <ul>
                {% for AcademicProject in category.projects.all %}
                <p>{{AcademicProject.date_start|date:"M Y"}} - {{AcademicProject.date_end|date:"M Y"}}</p>
                <li> {{AcademicProject.text}}</li>
                {% endfor %} 
            </ul>
            {% endfor %}

            
            <h2>Send your message</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="name-input" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" id="name-input" required>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="msg" class="form-label">Message</label>
                        <textarea name="text" id="msg" class="form-control" required></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if log %}
        <script>
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "{{log}}",
                showConfirmButton: false,
                timer: 3000
            });
        </script>
        {% endif %}
    </body>

</html>