{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{profile.full_name}} | CV</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <script src="{% static 'bootstrap.min.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <img class="profile-image" src="{{profile.image.url}}" >
            <h1>{{profile.full_name}}</h1>
            <div class="contact">
                <p>Phone: {{profile.phone}}</p>|
                <p>Email: {{profile.email}}</p>|
                <p>Linkedin: {{profile.linkedin}}</p>|
                <p>City: {{profile.city}}</p>
            </div>
            <br>
            <h2 class="text-brown">HIGHLIGHTS OF QUALIFICATIONS</h2>
            <ul>
                {% for qualification in qualifications %}
                <li>{{qualification.text}}</li>
                {% endfor %}
            </ul>
            <h2 class="text-brown">EDUCATION</h2>
            {% for education in educations %}
                <h3>{{education.title}}</h3>
                <p>{{education.date}}</p>
                <p>{{education.address}}</p>
                <hr>
            {% endfor %}
        </div>
    </body>

</html>