{% extends 'base.html' %}

{% block title %}searching page{% endblock title %}

{% block body %}

<div class="container">
    <h1>{{request.GET.q}} ({{blogs.count}})</h1>
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-3 col-12">
            <a href="{% url 'single_blog' blog.pk %}">
            <div class="blog-card p-2">
                <img src="{{blog.image.url}}" class="w-100 rounded mt-2">
                <h3>{{ blog.title }} </p>
                <p class= "text-info">{{ blog.date_update }} </p>
            </div>
            </a>
        </div>
        {% endfor %}
        {% if blogs.count == 0 %}
            <div class="col-12">
                <p class="text-warning text-center">can't find any blog</p>
            </div>
        {% endif %}
    </div>
</div>


{% endblock body %}